{% extends "mapp/master.html" %}

{% block title %}
    ADcad Investment Group - List of all members and staff

{% endblock %}

{% block content %}
    <div class="mycard">
        <h1>Members</h1>

        <ul>
            {% for g in mygroup %}
                <li onclick="window.location = 'details/{{ g.id }}'">{{ g.firstname }} {{ g.lastname }}</a></li>
                {% comment %} <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li> {% endcomment %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
